@import 'style.css';

@import 'components/body.css';

@import 'components/header.css';
@import 'components/footer.css';
@import 'components/main.css';
@import 'components/navbar.css';


:root{
	--preto: #000000;
	--cinza: #282A3A;
	--bege_esc: #735F32;
	--bege_clr: #C69749;

	--fundo: #352F44;

	--fundo1: #0C0C14;
}

