*{

	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;

	font-family: 'Poppins', sans-serif;

	outline: none;

	font-style: none;

	list-style: none;

	text-decoration: none;

	
}

body{
	overflow-x: hidden;
}
