.container_imgs{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 4rem;
    height: 25rem;
    background-color: #0C0C14;
    width: 100%;
    gap: 10rem;
}

.container_imgs .container_img{
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.compre_list{
    left: 2rem;
    position: relative;
    top: -2rem;
    width: 22rem;
}

.img{
    min-width: 50rem;
    min-height: 25rem;
    width: 100px;
    
    background-image: url('/assets/imgs/img6.jpg');
    background-size: cover;

    border-radius: 5px;
}

.compre_list, .compre_list a{
    color: white;
    text-align: center;
}

.compre_list a{
    border: solid 3px white;
    padding: 20px 50px;
    border-radius: 25px;
    position: relative;
    margin-top: 1rem;
    top: 3rem;
    background-color: transparent;
    transition: background-color .4s linear;
    font-weight: bold;
}

.compre_list a:hover{
    background-color: white;
    color: var(--preto);
    transition: background-color .4s linear;
}

.tittle_bege{
    color: var(--bege_clr);
    font-weight: bold;
}

.compre_list h3{
    font-size: 1.3rem;
}